.table-container {
    padding: 1rem;
    border-radius: 8px;
    overflow: auto;
    background-color: var(--app-bg-color);
    color: var(--app-text-color);
}

.search-field {
    width: 40%;
    margin-left: 12px;
    margin-right: 12px;
    height: min-content;
}

.task-table {
    width: 100%;

    td,
    th {
        padding: 12px;
    }
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.d-flex-end {
    display: flex;
    justify-content: end;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

// .primary-button {
//     padding: 22px;
// }