.spacer-custom {
    flex: 1 1 auto;
}

.toolbar-custom {
    background-color: #e91e63;
    color: white !important;
}

.label-custom {
    color: white;
    font-weight: 500;
}

.active-link {
    background-color: rgba(0, 0, 0, 0.08); // or your theme color
    font-weight: 700;
}

button {
    margin-right: 4px;
}

