<mat-toolbar class="toolbar-custom">
    <button *ngIf="isMobileMode" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Task Management System</span>
    <span class="spacer-custom"></span>
    <ng-container *ngIf="!isMobileMode">
        <div>
            <button mat-button routerLink="dashboard" routerLinkActive="active-link">
                <mat-icon>dashboard</mat-icon><span class="label-custom">Dashboard</span>
            </button>
            <button mat-button routerLink="task-detail/add" routerLinkActive="active-link">
                <mat-icon>library_add</mat-icon><span class="label-custom">Add Task</span>
            </button>
            <button mat-button routerLink="status-update" routerLinkActive="active-link">
                <mat-icon>view_carousel</mat-icon><span class="label-custom">Status Update</span>
            </button>
            <mat-slide-toggle (change)="switch($event)"><span class="label-custom">Dark Mode</span></mat-slide-toggle>
        </div>
    </ng-container>
</mat-toolbar>