<div class="task-container">
    <h2 class="mat-title">
        Add Task
    </h2>
    <form [formGroup]="taskFormGroup">
        <mat-grid-list cols="4" rowHeight="72px" gutterSize="12px">
            <mat-grid-tile colspan="4">
                <mat-form-field style="width: 100%;" appearance="outline" hintLabel="Max 50 characters">
                    <mat-label>Task name</mat-label>
                    <input matInput #inputTaskName maxlength="50" placeholder="Ex. Task one" formControlName="taskName">
                    <mat-hint align="end">{{inputTaskName.value.length}}/10</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan="2">
                <mat-form-field style="width: 100%;" appearance="outline" hintLabel="Max 200 characters">
                    <mat-label>Task Description</mat-label>
                    <textarea matInput #inputTaskDesc maxlength="200" placeholder="Ex. Task one description goes here."
                        formControlName="description"></textarea>
                    <mat-hint align="end">{{inputTaskDesc.value.length}}/200</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Select Priority</mat-label>
                    <mat-select formControlName="priority">
                        <mat-option value="Low">Low</mat-option>
                        <mat-option value="Medium">Medium</mat-option>
                        <mat-option value="High">High</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Select Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="Pending">Pending</mat-option>
                        <mat-option value="In Progress">In Progress</mat-option>
                        <mat-option value="Completed">Compelted</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Assignee</mat-label>
                    <mat-select formControlName="assignedTo" appearance>
                        <mat-option *ngFor="let user of users" [value]="user">{{user}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <!-- <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Due Date</mat-label>
                    <input type="date" matInput #input formControlName="dueDate" class="custom-date">
                </mat-form-field> -->
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Due date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dueDate"  [min]="today"
                   >
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="today"></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <div style="text-align: end;">
            <button routerLink="/tasks" mat-raised-button color="secondary">Cancel</button>
            <button (click)="createTask()" style="margin-left: 12px;" mat-raised-button color="primary">Create
                Task</button>
        </div>
    </form>
</div>