<div class="task-container">
    <h2 class="mat-title">
        Add Task
    </h2>
    <mat-grid-list cols="4" rowHeight="72px" gutterSize="12px">
        <mat-grid-tile colspan="4">
            <mat-form-field style="width: 100%;" appearance="outline" hintLabel="Max 10 characters">
                <mat-label>Task name</mat-label>
                <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="2">
            <mat-form-field style="width: 100%;" appearance="outline" hintLabel="Max 10 characters">
                <mat-label>Task name</mat-label>
                <textarea matInput #input maxlength="10" placeholder="Ex. Nougat"></textarea>
                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Select Priority</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Select Status</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-form-field style="width: 100%;" appearance="outline" hintLabel="Max 10 characters">
                <mat-label>Assigned To</mat-label>
                <input matInput #input maxlength="10" placeholder="Ex. Nougat">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-form-field style="width: 100%;" appearance="outline" hintLabel="Max 10 characters">
                <mat-label>Due Date</mat-label>
                <input type="date" matInput #input>
              
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <div style="text-align: end;">
        <button  mat-raised-button color="secondary">Cancel</button>
        <button style="margin-left: 12px;" mat-raised-button color="primary">Create Task</button>

    </div>
</div>