/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette);
$dark-theme: mat.define-dark-theme((color: (primary: $primary,
                accent: $accent,
            ), density: -3));

$light-theme: mat.define-light-theme((color: (primary: $primary,
                accent: $accent,
            ), density: -3));
.dark-mode {
    --app-bg-color: #424242;
    --app-primary-text-color: #fff;
    --app-secondary-text-color: rgba(255, 255, 255, .6);
    @include mat.all-component-themes($dark-theme);
    .mat-mdc-table, .mat-mdc-paginator {
        background-color: #424242;
    }
}

.light-mode {
    --app-bg-color: #fafafa;
    --app-primary-text-color: #000000de;
    --app-secondary-text-color: #0000008a;
    @include mat.all-component-themes($light-theme);
    .mat-mdc-table, .mat-mdc-paginator {
        background-color: #fafafa;
    }
}

.mat-title {
    color: var(--app-primary-text-color);
}

html,
body {
    height: 100%;
    color: var(--app-secondary-text-color)
}

body {
    margin: 0;
}